 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #030000;
  }
  
  .error {
    margin: 1rem 0;
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: normal;
  }
  
  .home {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 1.7rem;
  }
  
